@tailwind base;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

p,
ul,
li,
a {
  font-family: "Open Sans", sans-serif;
}

@tailwind components;

/* #heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#heroTitle {
  font-size: 4rem;
} */

#stickyYear {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

#yearSelectorWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  grid-template-rows: repeat(3, 200px);
  justify-content: stretch;
}

@media screen and (max-width: 768px) {
  #yearSelectorWrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 200px);
  }
}

@media screen and (max-width: 640px) {
  #yearSelectorWrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 200px);
  }
}

/* @media screen and (min-width: 768px) {
  #heroContainer {
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: left;
  }
  #heroTitle {
    font-size: 5rem;
  }
} */

@tailwind utilities;
