@tailwind base;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kalam", cursive;
}

p,
ul,
li,
a {
  font-family: "Open Sans", sans-serif;
}

@tailwind components;

#heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#heroTitle {
  font-size: 4rem;
  line-height: 1.2;
}

#stickyYear {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

@media screen and (min-width: 768px) {
  #heroContainer {
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: left;
  }
  #heroTitle {
    font-size: 5rem;
  }
}

@tailwind utilities;
