@tailwind base;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hepta Slab", serif;
}

p,
ul,
li,
a {
  font-family: "Hepta Slab", sans-serif;
}

p:empty {
  display: none;
}

@tailwind components;

#hamburgerWrapper {
  display: absolute;
  right: 5%;
  top: 0%;
}

#stickyYear {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

#yearSelectorWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-template-rows: repeat(3, auto);
  justify-content: stretch;
}

.rotate {
  animation: rotation 2.5s 1 ease-in;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#marquee {
  margin: auto;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 900px;
  height: 385px;
  background: url("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1012385_10151817242762214_1256830571_n.jpg")
    no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
}

.bulb {
  width: 25px;
  height: 25px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 200, 0.5) 30%,
    rgba(255, 255, 150, 0.8) 100%
  );
  border-radius: 100%;
  position: relative;
  animation: chase 600ms infinite;
}

#marquee li:before {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 20% 100%;
  position: absolute;
  right: 6px;
  top: 6px;
}

#marquee li:nth-child(3n + 1) {
  animation-delay: 0s;
}

#marquee li:nth-child(3n + 2) {
  animation-delay: 200ms;
}

#marquee li:nth-child(3n + 3) {
  animation-delay: 400ms;
}

#marquee #top {
  position: absolute;
  top: 0;
  left: 0;
}

#marquee #top li {
  float: left;
  margin-right: 5px;
}

#marquee #right {
  position: absolute;
  top: 0;
  right: 0;
}

#marquee #right li {
  margin-bottom: 5px;
}

#marquee #bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

#bottom li {
  float: left;
  margin-right: 5px;
}

#left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

#left li {
  margin-bottom: 5px;
}

@keyframes chase {
  0% {
    box-shadow: inset 0px 0px 40px 12px rgba(255, 255, 220, 0.9),
      0px 0px 40px 10px rgba(255, 255, 190, 0.9);
  }
  100% {
    box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 220, 0),
      0px 0px 0px 0px rgba(255, 255, 190, 0);
  }
}

@media screen and (max-width: 768px) {
  #yearSelectorWrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 200px);
  }
}

@media screen and (max-width: 640px) {
  #yearSelectorWrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 200px);
  }
}

/* @media screen and (min-width: 768px) {
  #heroContainer {
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: left;
  }
  #heroTitle {
    font-size: 5rem;
  }
} */

@tailwind utilities;
